# Secrets
secrets/*
!secrets/example/
!secrets/example/**

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
crash.log
crash.*.log

# Ansible
*.retry
infra/ansible/generated/

# Logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# Build output
dist/
build/
tmp/
generated_dtos
